.employee_type_col .btn{
  margin-top: -8px;
}

.employee_type_col .btn:hover {
  background: white;
  border-color: white;
}

.query-input-text {
  background-color: #dde3e7;
}

.query-input-button {
  background-color: #dde3e7;
}

.query-input-button:hover {
  background-color: #dde3e7;
}