.navbar-container .custom-navbar{
  background-color: #fcd769da;
}

.navbar-container{
  background-color: #fcd769da;
}

.navbar-container #offcanvasNavbar{
  background-color: #fcd769da;
}

.nav-text {
  font-size: 17px;
}